body {
    width: 100%;
    height: 100%;
}

.table td, .table th {
    vertical-align: middle;
}

.action-column {
    width: 1% !important;
    white-space: nowrap;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
}

.chk {
    width: 20px;
    height: 20px;
}



/*-------------------------------------------------------------------------*/

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.note {
    border: 2px solid #ccc; /* Đặt đường viền cho ô vuông */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-header label {
    font-weight: bold;
}

.note-body {
    font-size: 14px;
    margin-top: 10px;
}

.note-body p {
    margin: 10px 0;
    font-style: italic;
}

.btn-back {
    margin-top: 20px;
}




/*-------------------------------------------------------------------------*/

#sidebar {
    position: fixed;
    top: 0;
    left: 0; /* Đặt sidebar bên trái */
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding-top: 20px;
    transition: width 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

#sidebar .sidebar-heading {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 15px;
    background-color: #f1f1f1;
    white-space: nowrap; /* Ngăn không cho chữ wrap */
    overflow: hidden;
    text-overflow: ellipsis; /* Thêm dấu "..." nếu chữ quá dài */
}

#sidebar .list-group-item {
    padding: 10px 15px;
    border: none;
    white-space: nowrap; /* Ngăn không cho chữ wrap */
    overflow: hidden;
    text-overflow: ellipsis; /* Thêm dấu "..." nếu chữ quá dài */
}

#sidebar .list-group-item:hover {
    background-color: #e9ecef;
}

/* Mũi tên điều khiển */
.sidebar-toggle-btn {
    position: absolute;
    bottom: 20px;
    right: -20px; /* Mũi tên nằm bên phải của sidebar */
    width: 20px;
    height: 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar-toggle-btn:hover {
    background-color: #0056b3;
}

/* Mũi tên bên trong */
#toggleIcon {
    font-size: 16px;
}

/* Giảm chiều rộng sidebar khi đóng */
#sidebar.collapsed {
    width: 10px; /* Thu nhỏ lại khi đóng */
}

#sidebar.collapsed .sidebar-heading,
#sidebar.collapsed .list-group-item {
    display: none; /* Ẩn tiêu đề và danh mục khi sidebar thu hẹp */
}
